body {
  margin: 0;
  padding: 0;
}

.header {
  width: 90%;
  margin: 0 auto;
  background-color: cyan;
  text-align: start;
  padding: 5px 20px;
  border-radius: 10px;
}

.main_content {
  width: 89%;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid red;
  height: 72vh;
  overflow-y: scroll ;
}

.main_content::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 10px;
  overflow: hidden;
}

.main_content::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-radius: 10px;
  overflow: hidden;
}

.php-generated-h4 {
  color: red;
}

.footer {
  width: 90%;
  margin: 0 auto;
  background-color: cyan;
  text-align: center;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 10px;
  bottom: 0; 
 }
